<% if flash[:error] %>
  <h3><%= if flash[:error] %></h3>
<% end %>

<h1>Please log in here</h1>
<br>
<form action="/login" method="post">
  <label>Email: </label><input type="text" name="email" id="email" placeholder="Email:">
  <label>Username: </label><input type="text" name="username" id="username" placeholder="Username:">
  <label>Password: </label><input type="text" name="password" id="password" placeholder="Password:">
  <br>
  <br>

  <input type="submit" value="submit">
</form>
<br>
<br>
<p>If you do not yet have a login, please <a href="/signup">Sign up</a>.</p>
