<h1>Sign Up</h1>

<br>
<form action="/signup" method="post">
  <ul>
  <li><label>Full Name: </label><input type="text" name="full_name" id="full_name"></li><br>
  <li><label>Preferred Name: </label><input type="text" name="preferred_name" id="preferred_name"></li><br>
  <li><label>Email: </label><input type="text" name="email" id="email"></li><br>
  <li><label>Username: </label><input type="text" name="username" id="username"></li><br>
  <li><label>Password: </label><input type="text" name="password" id="password"></li><br>
  <li><label>Profile Photo: </label><input type="text" name="image_url" id="image_url"></li><br>
  <li><label>Bio: </label><input type="text" name="bio" id="bio"></li><br>
  </ul>
  <br>
  <br>
  <input type="submit" value="submit">
</form>
<br>
<a href="/">Back</a>