<h1>Create a New Adventure</h1>

<br>
<form action="/adventures" method="post">
  <ul>
  <li><label>City: </label><input type="text" name="city" id="city"></li><br>
  <li><label>Country: </label><input type="text" name="country" id="country"></li><br>
  <li><label>Date: </label><input type="text" name="date" id="date"></li><br>
  <li><label>Adventure Photo: </label><input type="text" name="image_url" id="image_url"></li><br>
  </ul>
  <br>
  <br>
  <input type="submit" value="Create new Adventure">
</form>
<br>
