<h1>Please log in here</h1>
<br>
<form action="/login" method="post">
  <input type="text" name="email" placeholder="Email:">
  <input type="text" name="username" placeholder="Username:">
  <input type="text" name="password" placeholder="Password:">

  <input type="submit" value="submit">
</form>
<br>
<br>
<p>If you do not yet have a login, please <a href="user/signup">Sign up</a>.</p>
