<h1>Sign Up</h1>

<br>
<form action="/signup" method="post">
  <label>Full Name: </label><input type="text" name="full_name" id="full_name">
  <label>Preferred Name: </label><input type="text" name="preferred_name" id="preferred_name">
  <label>Email: </label><input type="text" name="email" id="email">
  <label>Username: </label><input type="text" name="username" id="username">
  <label>Password: </label><input type="text" name="password" id="password">
  <label>Profile Photo: </label><input type="text" name="image_url" id="image_url">
  <label>Bio: </label><input type="text" name="bio" id="bio">
  <br>
  <br>
  <input type="submit" value="submit">
</form>

<a href="/">Back</a>