<h1>Welcome to the Adventure Sharing site!</h1>

<div class="container">
  <header><img src="images/world-map.jpg" alt="World Map" class="img-responsive main-image" height="500", width="960"></header>

  <div class="col-md-8 col-md-offset-2">
    <h2>A platform for employees to share personal travel adventures with each other.</h2>

    <div class="content">
      <p>This page has been created to help employees stay personally connected while working remotely.</p>
      <p>Please <a href="/signup">Sign up</a> or <a href="/login">Log in</a> to post new and past adventures to show where we have travelled.</p>
    </div>

    <div class="sidebar">
    <img src="images/globe-hands.jpg" alt="Globe in Hands" height="200", width="290">
      
    </div>

  </div>
</div>
